/**/
@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap);

:root{
    --font: Orbitron !important;
    --monospace-font: Consolas !important;
}

#app{
    background: url(https://i.imgur.com/iBb7wwY.png) center/cover no-repeat fixed;
}
._11Ivv,
._settings_t7t23_33:not([data-mobile=true]),
.Titlebar__TitlebarBase-sc-1ykozpe-0{
    width: 85vw !important;
    position: fixed;
    left: 7.5vw;
    border: 3px solid var(--accent);
}
._11Ivv,
._settings_t7t23_33:not([data-mobile=true]){
    height: 56vh !important;
    top: 18vh;
    border-top: none;
}
.Titlebar__TitlebarBase-sc-1ykozpe-0{
    top: calc(18vh - 29px);
    border-bottom: none;
}

._item_1avxi_1[data-active="true"]{
    border: 2px solid currentColor;
}
._item_1avxi_1:not([data-active="true"]):hover{
    background: rgb(143,232,255,0.15);
}
._item_1avxi_1[data-active="true"]:hover{
    text-shadow: 0 0 5px currentCOlor;
}

.Home__Overlay-sc-4bxuxh-0{
    overflow: scroll;
}

._settings_t7t23_33 ._sidebar_t7t23_39{
    max-width: fit-content;
    margin-left: 25px;
}
._settings_t7t23_33 ._content_t7t23_40 ._contentcontainer_t7t23_62{
    min-width: calc(100% - 85px);
}
._settings_t7t23_33 ._sidebar_t7t23_39 ._container_t7t23_46,
._settings_t7t23_33 ._content_t7t23_40 ._contentcontainer_t7t23_62,
._settings_t7t23_33 ._action_t7t23_224{
    padding-top: 16px;
    padding-bottom: 16px;
}


._friend_sd6wo_33 ._actions_sd6wo_7 ._button_sd6wo_44:hover._success_sd6wo_81,
._friend_sd6wo_33 ._actions_sd6wo_7 ._button_sd6wo_44:hover._error_sd6wo_78{
    background: var(--primary-header);
}
._friend_sd6wo_33 ._actions_sd6wo_7 ._button_sd6wo_44:hover._success_sd6wo_81{
    color: var(--success)
}
._friend_sd6wo_33 ._actions_sd6wo_7 ._button_sd6wo_44:hover._error_sd6wo_78{
    color: var(--error);
}


.Discover__Frame-sc-6nwhb3-1{
    --foreground: hotpink;
}

.MessageBase__MessageInfo-sc-1s9ehlg-1 svg.avatar{
    --avatar-size: 42px; /*default: 36px*/
    width: var(--avatar-size);
    height: var(--avatar-size);
}
.MessageBase-sc-1s9ehlg-0.gRLOyd{
    line-height: calc(1.25rem + 6px);
}

.dUCGFk{
    width: 300px;
}

.MessageBox__Action-sc-jul4fa-2:nth-child(3) .IconButton-sc-166lqkp-0 svg{
    display: none;
}
.MessageBox__Action-sc-jul4fa-2:nth-child(3) .IconButton-sc-166lqkp-0:after{
    content: "[Emoji]";
}

foreignObject[mask="url(#holepunch-top-right)"]{
    border: 2px solid;
    border-radius: 50%;
}
foreignObject[mask="url(#holepunch-top-right)"]+circle{
    fill: currentColor;
}

._version_t7t23_53:before{
    content: "CRYNET SYSTEMS";
    color: var(--accent);
    font-family: var(--font);
    font-weight: 600;
}


._user_fwdgs_1 .Base-sc-j9ukbi-0.bQqZNf{
    display: inline-flex;
    width: calc(100%/3 - 8px);
}
._user_fwdgs_1 .Base-sc-j9ukbi-0.bQqZNf:not(:nth-child(2)){
    margin-left: 12px;
}


/**/
._languages_fwdgs_383 ._list_fwdgs_383{
    flex-direction: row;
    flex-wrap: wrap;
}
._languages_fwdgs_383 ._list_fwdgs_383 ._entry_fwdgs_300{
    min-width: 220px;
    width: calc(50% - 4px)
}/**/